flows (1).json
[{"id":"5f9bcc94.38e934","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"6a495a2d.f0bbd4","type":"ibmiot in","z":"5f9bcc94.38e934","authentication":"apiKey","apiKey":"c6f31468.399268","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"24282","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":160,"wires":[["592cdf93.9be4f","e510051b.1ebb58","301a72f8.a9cabe","3cb98196.a4d3fe","63c7a6b0.e3c5e8"]]},{"id":"592cdf93.9be4f","type":"function","z":"5f9bcc94.38e934","name":"Emp1","func":"global.set('Name',msg.payload.Name)\nmsg.payload=msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":180,"wires":[["dde67957.4a5858"]]},{"id":"e510051b.1ebb58","type":"function","z":"5f9bcc94.38e934","name":"id1","func":"global.set('ID',msg.payload.ID)\nmsg.payload=msg.payload.ID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":240,"wires":[["69014f1b.d3e04"]]},{"id":"301a72f8.a9cabe","type":"function","z":"5f9bcc94.38e934","name":"d1","func":"global.set('Duration',msg.payload.Duration)\nmsg.payload=msg.payload.Duration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":320,"wires":[["a5ae344f.6409e8"]]},{"id":"3cb98196.a4d3fe","type":"debug","z":"5f9bcc94.38e934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"eb2771cf.bedb1","type":"http in","z":"5f9bcc94.38e934","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":360,"y":440,"wires":[["aa5e145b.7b1198"]]},{"id":"aa5e145b.7b1198","type":"function","z":"5f9bcc94.38e934","name":"","func":"msg.payload={\n    \"Name\":global.get('Name'),\n    \"ID\":global.get('ID'),\n    \"Duration\":global.get('Duration')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":440,"wires":[["a56a4569.4feee8"]]},{"id":"dde67957.4a5858","type":"ui_text","z":"5f9bcc94.38e934","group":"a87a83d7.994e2","order":13,"width":0,"height":0,"name":"","label":"Emp name:","format":"{{msg.payload}}","layout":"row-center","x":530,"y":160,"wires":[]},{"id":"69014f1b.d3e04","type":"ui_text","z":"5f9bcc94.38e934","group":"a87a83d7.994e2","order":14,"width":0,"height":0,"name":"","label":"Emp id:","format":"{{msg.payload}}","layout":"row-center","x":520,"y":240,"wires":[]},{"id":"a5ae344f.6409e8","type":"ui_text","z":"5f9bcc94.38e934","group":"a87a83d7.994e2","order":15,"width":0,"height":0,"name":"","label":"Emp duration:","format":"{{msg.payload}}","layout":"row-center","x":520,"y":320,"wires":[]},{"id":"6f4939b6.d55698","type":"function","z":"5f9bcc94.38e934","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":680,"wires":[["30edeada.a35d66","63112c37.2af514","c4e22929.c45048"]]},{"id":"30edeada.a35d66","type":"http response","z":"5f9bcc94.38e934","name":"","statusCode":"","headers":{},"x":960,"y":680,"wires":[]},{"id":"a56a4569.4feee8","type":"http response","z":"5f9bcc94.38e934","name":"","statusCode":"","headers":{},"x":1110,"y":440,"wires":[]},{"id":"63112c37.2af514","type":"debug","z":"5f9bcc94.38e934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":620,"wires":[]},{"id":"c4e22929.c45048","type":"ibmiot out","z":"5f9bcc94.38e934","authentication":"apiKey","apiKey":"c6f31468.399268","outputType":"cmd","deviceId":"24282","deviceType":"ESP32","eventCommandType":"click","format":"json","data":"myData","qos":0,"name":"IBM IoT","service":"registered","x":1110,"y":540,"wires":[]},{"id":"920a8b38.e995b8","type":"ui_button","z":"5f9bcc94.38e934","name":"","group":"a87a83d7.994e2","order":16,"width":0,"height":0,"passthru":false,"label":"ALERT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"input\":\"Alert!!\"}","payloadType":"json","topic":"topic","topicType":"msg","x":680,"y":520,"wires":[["c4e22929.c45048"]]},{"id":"a2164a37.2cd628","type":"http in","z":"5f9bcc94.38e934","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":250,"y":680,"wires":[["6f4939b6.d55698"]]},{"id":"63c7a6b0.e3c5e8","type":"function","z":"5f9bcc94.38e934","name":"saving","func":"msg.payload={\n    \"Name\":global.get('Name'),\n    \"ID\":global.get('ID'),\n    \"Duration\":global.get('Duration')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["7a5b595f.1bbf58"]]},{"id":"7a5b595f.1bbf58","type":"cloudant out","z":"5f9bcc94.38e934","name":"","cloudant":"","database":"smartsecurity","service":"sk-cloudant-1621487277380-25671","payonly":false,"operation":"insert","x":940,"y":380,"wires":[]},{"id":"c6f31468.399268","type":"ibmiot","name":"Smart Security 11","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a87a83d7.994e2","type":"ui_group","name":"Smart security","tab":"a034ded1.94d29","order":1,"disp":true,"width":"21","collapse":false},{"id":"a034ded1.94d29","type":"ui_tab","name":"simulator","icon":"dashboard","disabled":false,"hidden":false}]