flows (2).json
[{"id":"f34d914e.43877","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"17a485a9.cfcb4a","type":"ibmiot in","z":"f34d914e.43877","authentication":"apiKey","apiKey":"c6f31468.399268","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"24282","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":70,"y":320,"wires":[["b2238ead.e3ace","3a57b8bc.d258d8","ba6beb73.00c1f8","4de23e6.56453c","8e0264cf.393758","c10ce0f7.f779f","6dad90d7.0f5ea","51ac32f9.bc5cec","3269361d.9eab0a","a6e61f8a.9f6ee","8fe4e87f.e1da18"]]},{"id":"b2238ead.e3ace","type":"debug","z":"f34d914e.43877","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":320,"wires":[]},{"id":"ba6beb73.00c1f8","type":"function","z":"f34d914e.43877","name":"Emp1","func":"global.set('Name1',msg.payload.Name1)\nmsg.payload=msg.payload.Name1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["f4143f05.56065"]]},{"id":"4de23e6.56453c","type":"function","z":"f34d914e.43877","name":"ID1","func":"global.set('ID1',msg.payload.ID1)\nmsg.payload=msg.payload.ID1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["b4f370a0.92bfa"]]},{"id":"f4143f05.56065","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":1,"width":0,"height":0,"name":"","label":"Name of employee1","format":"{{msg.payload}}","layout":"col-center","x":820,"y":140,"wires":[]},{"id":"10c4e442.6e3fcc","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":2,"width":0,"height":0,"name":"","label":"Exit time of employee1","format":"{{msg.payload}}","layout":"col-center","x":840,"y":260,"wires":[]},{"id":"b4f370a0.92bfa","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":3,"width":0,"height":0,"name":"","label":"ID of employee1","format":"{{msg.payload}}","layout":"col-center","x":800,"y":180,"wires":[]},{"id":"d121c6ea.5adea8","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":4,"width":0,"height":0,"name":"","label":"Entry time of employee1","format":"{{msg.payload}}","layout":"col-center","x":850,"y":220,"wires":[]},{"id":"3a57b8bc.d258d8","type":"function","z":"f34d914e.43877","name":"1st Emp Entry time","func":"global.set('Entry_dt_of_ep1',msg.payload.Entry_dt_of_ep1)\nmsg.payload=msg.payload.Entry_dt_of_ep1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["d121c6ea.5adea8"]]},{"id":"8e0264cf.393758","type":"function","z":"f34d914e.43877","name":"1st Emp Exit time","func":"global.set('Exit_time_of_ep1',msg.payload.Exit_time_of_ep1)\nmsg.payload=msg.payload.Exit_time_of_ep1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":260,"wires":[["10c4e442.6e3fcc"]]},{"id":"c10ce0f7.f779f","type":"function","z":"f34d914e.43877","name":"1st Emp Duration","func":"global.set('D1',msg.payload.Duration_of_ep1)\nmsg.payload=msg.payload.Duration_of_ep1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":300,"wires":[["78254edd.bb74d","2ccdc82e.eef568"]]},{"id":"78254edd.bb74d","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":2,"width":0,"height":0,"name":"","label":"Duration of employee1","format":"{{msg.payload}}","layout":"col-center","x":840,"y":300,"wires":[]},{"id":"2e1a58dc.e5c228","type":"http in","z":"f34d914e.43877","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":660,"wires":[["ca88472d.289088"]]},{"id":"ca88472d.289088","type":"function","z":"f34d914e.43877","name":"","func":"msg.payload=\n{\n    \"Name1\":global.get('Name1'),\n    \"ID1\":global.get('ID1'),\n    \"Entry_dt_of_ep1\":global.get('Entry_dt_of_ep1'),\n    \"Exit_time_of_ep1\":global.get('Exit_time_of_ep1'),\n    \"Duration_of_ep1\":global.get('D1'),\n    \"Name2\":global.get('Name2'),\n    \"ID2\":global.get('ID2'),\n    \"Entry_dt_of_ep2\":global.get('Entry_dt_of_ep2'),\n    \"Exit_time_of_ep2\":global.get('Exit_time_of_ep2'),\n    \"Duration_of_ep2\":global.get('D2')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[["5243c91c.916888"]]},{"id":"6dad90d7.0f5ea","type":"function","z":"f34d914e.43877","name":"Emp2","func":"global.set('Name2',msg.payload.Name2)\nmsg.payload=msg.payload.Name2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":360,"wires":[["d0c4be88.c6f62"]]},{"id":"51ac32f9.bc5cec","type":"function","z":"f34d914e.43877","name":"ID2","func":"global.set('ID2',msg.payload.ID2)\nmsg.payload=msg.payload.ID2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":400,"wires":[["8ccfa7b8.7cb588"]]},{"id":"3269361d.9eab0a","type":"function","z":"f34d914e.43877","name":"2nd Emp Entry time","func":"global.set('Entry_dt_of_ep2',msg.payload.Entry_dt_of_ep2)\nmsg.payload=msg.payload.Entry_dt_of_ep2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":440,"wires":[["3c93c861.6aa118"]]},{"id":"a6e61f8a.9f6ee","type":"function","z":"f34d914e.43877","name":"2nd Emp Entry time","func":"global.set('Exit_time_of_ep2',msg.payload.Exit_time_of_ep2)\nmsg.payload=msg.payload.Exit_time_of_ep2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["800ff3ec.dac3a"]]},{"id":"d0c4be88.c6f62","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":1,"width":0,"height":0,"name":"","label":"Name of employee2","format":"{{msg.payload}}","layout":"col-center","x":860,"y":360,"wires":[]},{"id":"800ff3ec.dac3a","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":2,"width":0,"height":0,"name":"","label":"Exit time of employee2","format":"{{msg.payload}}","layout":"col-center","x":900,"y":480,"wires":[]},{"id":"8ccfa7b8.7cb588","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":3,"width":0,"height":0,"name":"","label":"ID of employee2 ","format":"{{msg.payload}}","layout":"col-center","x":860,"y":400,"wires":[]},{"id":"3c93c861.6aa118","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":4,"width":0,"height":0,"name":"","label":"Entry time of employee2","format":"{{msg.payload}}","layout":"col-center","x":910,"y":440,"wires":[]},{"id":"8fe4e87f.e1da18","type":"function","z":"f34d914e.43877","name":"2nd Emp Duration","func":"global.set('D2',msg.payload.Duration_of_ep2)\nmsg.payload=msg.payload.Duration_of_ep2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":540,"wires":[["fda0c09d.b1d17","cb385f9d.3bb0b"]]},{"id":"fda0c09d.b1d17","type":"ui_text","z":"f34d914e.43877","group":"68de6ba0.1c95a4","order":2,"width":0,"height":0,"name":"","label":"Duration of employee2","format":"{{msg.payload}}","layout":"col-center","x":940,"y":520,"wires":[]},{"id":"5243c91c.916888","type":"http response","z":"f34d914e.43877","name":"","statusCode":"","headers":{},"x":790,"y":660,"wires":[]},{"id":"c4b1177e.a74b88","type":"http in","z":"f34d914e.43877","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":300,"y":940,"wires":[["d65e62f6.76a9b"]]},{"id":"69c9a727.5d1878","type":"http response","z":"f34d914e.43877","name":"","statusCode":"","headers":{},"x":970,"y":940,"wires":[]},{"id":"d65e62f6.76a9b","type":"function","z":"f34d914e.43877","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":940,"wires":[["d159e8dd.cb8bf8","69c9a727.5d1878"]]},{"id":"d159e8dd.cb8bf8","type":"ibmiot out","z":"f34d914e.43877","authentication":"apiKey","apiKey":"c6f31468.399268","outputType":"cmd","deviceId":"24282","deviceType":"ESP32","eventCommandType":"smart security","format":"json","data":"myData2","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":820,"wires":[]},{"id":"f44d42.01b2e2c","type":"ui_button","z":"f34d914e.43877","name":"Smart security","group":"68de6ba0.1c95a4","order":10,"width":0,"height":0,"passthru":true,"label":"Smart security","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Alert...Ajay please leave the room!\"}","payloadType":"json","topic":"topic","topicType":"msg","x":600,"y":780,"wires":[["d159e8dd.cb8bf8"]]},{"id":"eb3a4864.ec5cc8","type":"ui_button","z":"f34d914e.43877","name":"Smart security","group":"68de6ba0.1c95a4","order":11,"width":0,"height":0,"passthru":true,"label":"Smart security","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Alert...Arun please leave the room!\"}","payloadType":"json","topic":"topic","topicType":"msg","x":600,"y":860,"wires":[["d159e8dd.cb8bf8"]]},{"id":"2ccdc82e.eef568","type":"function","z":"f34d914e.43877","name":"","func":"if(global.get('D1')>10)\n{\n    msg.payload = \"Alert...Ajay please exit the room!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":780,"wires":[["f44d42.01b2e2c"]]},{"id":"cb385f9d.3bb0b","type":"function","z":"f34d914e.43877","name":"","func":"if(global.get('D2')>10)\n{\n    msg.payload=\"Alert...Arun please exit the room!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":860,"wires":[["eb3a4864.ec5cc8"]]},{"id":"c6f31468.399268","type":"ibmiot","name":"Smart Security 11","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"68de6ba0.1c95a4","type":"ui_group","name":"Default","tab":"a034ded1.94d29","order":1,"disp":true,"width":15,"collapse":false},{"id":"a034ded1.94d29","type":"ui_tab","name":"simulator","icon":"dashboard","disabled":false,"hidden":false}]